.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 100px 25px;
}
.img {
  width: 300px;
  height: 300px;
}

.timer {
  font-size: 100px;
  margin-top: -200px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-top: 85px;
  gap: 10px;
}
.btn {
  width: 100px;
  height: 20px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-go {
  background-color: #1769aa;
}
.btn-reset {
  background-color: #ab003c;
}
